.invisible{
    display:none;
}

.main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax (50px,auto);

}

body{
    margin: 0;
    padding: 0;

}
.navbar{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-area: centre;
    font-family: trade-gothic-next-condensed, 
        sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    padding-top:  30px;

}

.grid_parent{
    display:grid;
    width: 100%;
    text-align: center;
    background-color: white;
    position: fixed;
    z-index: 10000 ;
    top: 0;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        "logo_button centre collab_button"
}

.collab{
    grid-area: collab_button;
    width: 160px;
    height: 60px;
    background-color: hotpink;
    font-size: 23px;

    font-family: trade-gothic-next-condensed, 
        sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    line-height: 27px;
    padding-top: 10px;
    margin-top: 15px;
    margin-left: 100px;
    padding-bottom: 5px;


    font-weight: 700;

    font-style: normal;
}

.see_more{
    width: 130px;
    height: 25px;
    background-color: hotpink;
    font-size: 23px;

    font-family: trade-gothic-next-condensed, 
        sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    line-height: 27px;
    padding-top: 10px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    color: white;


    font-weight: 700;

    font-style: normal;
}

.logo{
    grid-area: logo_button;
    text-align: left;
    margin-left: 30px;


}

a.nav:link{
    color: black;
    text-decoration: none;

}

a.nav:visited{
    color: black;
    text-decoration: none;

}

a.nav:hover{
    color: hotpink;
    text-decoration: none;

}

a.button:link{
    color: white;
    text-decoration: none;
}

a.nav.current_page {
    color: hotpink !important ;
}

.heading{
    font-family: trade-gothic-next-condensed, 
        sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
}

.events{

    display: grid ;
    grid-template-columns: 1fr 1fr 1fr ;
    /*    column-count: 3;*/
    height: 400px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

}

.footer{
    /*    height:80px;*/
    background-color: black;
    /*    margin-bottom: 0;*/
    /*    padding-bottom: 0;*/
    display: grid ;
    grid-template-columns: 1fr 1fr ;
    padding-top: 20px;
}

a.footerone:link {
    color: hotpink;
}

a.footertwo:link {
    color: hotpink;
}

.footer_1{
    color: white;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 27px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.social{
    text-align: right;
    padding-right: 20px;
    /*    margin-bottom: auto;*/
    margin-top: 20px;
    color: white;
     font-family: trade-gothic-next, sans-serif;
    font-weight: 400;
    font-style: normal;

    line-height: 27px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}


.line{
    margin: auto;
    display: block;
    text-align: center;
    width: 1100px;
    border-bottom: solid 1px black;
    margin-top: 40px;
}

.lineone{
    margin: auto;
    display: block;
    text-align: center;
    width: 1100px;
    border-bottom: solid 1px black;
    margin-top: 100px;
    grid-column-start:1;
    grid-column-end: 4;
}

/* Slideshow styles. */

.cycle-pager { 
    width: 269px ;
    text-align: center;
}
.cycle-pager span { 
    font-family: arial; 
    font-size: 50px; 
    width: 16px; 
    height: 16px; 
    display: inline-block; 
    color: black;
    cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { 
    color: hotpink;
}
.cycle-pager > * { 
    cursor: pointer;
    text-align: center;
    
}

.cycle-slideshow img {
    margin: auto;
    max-width: 600px ;
}

.cycle-slideshow {
    margin-left: 505px;
}

.headup{
    margin-top: 130px;
    font-family: trade-gothic-next-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    /* margin-left: 600px;*/
    grid-column-start: 2 ;
    grid-column-end: 4 ;
    text-align: center ;
}
.groupone{
    display: flex;
    margin: 100px; 200px;

}

.filters{
    font-family: trade-gothic-next-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin-left: 170px;
}
ul{
    text-decoration: none;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style-type: none;
    margin-left: 133px;
    font-size: 25px;
}

/*EVENTS IMAGES START*/
.column1{
    grid-column-start:1;
    grid-column-end: 2;
}
.column2{
    grid-column-start:2;
    grid-column-end: 3;
    padding-left: 70px;
}

.column3{
    grid-column-start:3;
    grid-column-end: 4;
    /*    padding-right: 100px;*/
}

.first{
    color: hotpink;
}

.wraper{
    width: 200px;
}

.seemorebutton{
    grid-column-start: 2 ;
    grid-column-end: 4 ;
    text-align: center ;
    width: 130px;
    height: 25px;
    background-color: hotpink;
    font-size: 23px;

    font-family: trade-gothic-next-condensed, 
        sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    line-height: 27px;
    padding-top: 10px;
    margin-top: 15px;
    margin-left: 330px;
    margin-right: auto;
    padding-bottom: 15px;
    color: white;


    font-weight: 700;

    font-style: normal;
}


/*EVENTS IMAGES END*/


    




section,footer,p,h1,h2,h2,h3,h4,h5,div {
    /*    border: 2px solid red ;*/
}
